html {
  background: #0b1e3a;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 12pt;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

.adminContainer h2 {
  color: white;
}

#login_form {
  padding: .5rem 1rem .5rem 1rem;
  background-color: rgba(0, 0, 0, .25);
  border-radius: .5rem;
}

.form-control {
  margin: .25rem 0 .25rem 0;
}

.hidden {
  display: none;
}

#login_button {
  width: 75%;
  border: .13rem solid #22DFC0;
  color: #22DFC0;
}

#login_button:hover {
  color: #0b1e3a;
  background-color: #22DFC0;
  border: none;
}