
\.DS_Store
projects/wp_themes/*/node_modules/
projects/wp_themes/*/wordpress/*
!projects/wp_themes/*/wordpress/wp-content
projects/wp_themes/*/wordpress/wp-content/*
!projects/wp_themes/*/wordpress/wp-content/themes/
projects/wp_themes/*/wordpress/wp-content/themes/twentynineteen
projects/wp_themes/*/wordpress/wp-content/themes/twentytwenty
projects/wp_themes/*/wordpress/wp-content/themes/twentytwentyone
