/*
font-family: 'Montserrat', sans-serif;
*/

html {
	background-color: #e6e6e6;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
}

body {
	margin: 0;
	padding: 0;
}

/* Nav Styling */
#nav-container {
	padding: 0;
}

#search-row {
	padding: 1rem;
}

#search {
	width: 100%;
	border: .05rem solid black;
	font-size: 1.5rem;
	padding: .25rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

nav {
	padding: 0 !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

.navbar .navbar-dark .bg-dark {
	color: white !important;
	background: black !important;
}