.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .nav-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        list-style-type: none;
        
        .nav-item {
            margin: .5rem;
            padding: .5rem;

        }
    }

    .nav-list-items-mobile {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .main-nav {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .main-nav {
        .nav-list-items {
            display: none;
        }
    }
}
